

body{
    margin: 0 auto;
    max-width: fit-content;
    font-family: 'Lato';
    color: #333;
}
/* ******Header *******/
header{
  width: 34cm;
  display: flex;
  justify-content: space-between;
  padding: -6px 0 40px 0;
 left: 0;
 


}
.Header-lik{
  padding: 30px;
  display: flex;
  position: relative;
font-size: 22px;
color: white;
  gap: 3cm;
  
}
.Link-Home{
  text-decoration: none;
  color: white;
}
.Link-Tienda{
  text-decoration: none;
  color:#fff ;
  left: 21px;
position: relative;
}
img.Link-Tienda{
  width: 4cm;
  height: 4cm;
  position: relative;
  top: -29px;
}
link.Header-lik{
  display: inline-block;
  font-size: 8px;

}

.header-container{
  background:#00b4d8;
  width: fit-content;
  height: 3cm;
  margin-left: -0.4cm;

  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.1);
}
.container-icon{
  position: relative;

}
.icon-cart{
  width: 100px;
  height: 100px;
  stroke: #000; 
  position: relative;
 margin-left: -2cm;
  top: -0.3cm;
 
}

.icon-cart:hover{
  cursor: pointer;

}
.btn-search{
  background: rgb(208, 233, 171);
  border-radius: 3px;
  width: 80px;
  height: 30px;
  text-align: center;
  color: black;
  position: relative;
  margin-left: 6px;
  top: 5.199999999999999px;
}
.inpu-Search{
  width: 90%;
  height: 30px;
  outline: none;
  position: relative;
  gap: 8px;
  display: flex;
  margin-left: -93px 
}


/* products style */
.container-items{

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: -1px;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 65px;
  align-content: center;
  background-color: rgb(255, 255, 255);
  margin-left: 20px;


}
.Prod-items{
  overflow: hidden;
    margin: -27px;
    height: 449px;

}
.item{
  border-radius: 10px;
  background-color: #00A97F;
}
.item:hover{
  box-shadow: 0 10px 20px rgba(226, 15, 15, 0.2);
}
.container-figure{
  width: 7.5cm;
  justify-content: center;
  display: flex;
}


img{
  width: 5cm;
  height: 5cm;
  margin: 11px; 
}

  
  .item figure{
    overflow: hidden;
  }
  .item:hover img{
    transform: scale(1.2);
  }
  .Pro-info-product{
    position: relative;
    top: -16px;
  }
 
  .Data-price{
    position: relative;
    margin-left: 120px;
    width: 5cm;
    color: red;
    text-decoration: overline;

  }
  .Pro-category-h2{
    margin-left: 91px;
    color: #00b4d8;
    text-decoration: none;
  }
  .Pro-id{
    position: relative;
    top: 0.6cm;
    margin-left: 102px;
    font-size: 20px;
  }
  .Pr-h4-title{
    color: #6c7a89;
    text-transform: uppercase;
    font-size: 13px;
    display: table-caption;
    width: 5.5cm;
margin-left: 89.9px;
  }
  p{
    font-weight: bold;
    font-size: 15px;
    cursor:pointer;
  }
 .h4-title{
  font-size: 18px;
  color:rgb(0, 0, 0);
  width: 5cm;
 }
 /* ******DeatalleProducto ********/
 .container-des{
  justify-content: center;
  display: flex;
 }
.P-descrio{
  width: 19cm;
  height: 10cm;
  justify-content: flex-start;
  display: flex;
  position: relative;
  top: 2cm;
  flex-wrap: nowrap;
  margin-left: -16cm;
  font-size: 3px;
  text-align: justify;
  
  font: bold 20px/1 arial;
  text-transform: uppercase;

  
}
.p-priceDe{
  position: absolute;
  margin-left: -657px;
  top: 334px;
  width: 5cm;
  height: -11cm;
  font-size: 1cm;
  font: bold 30px/1 arial;
  text-transform: uppercase;
  color: #0c0c0c;
  text-shadow: 0  2px  0   rgb(192, 191, 191),
               0  4px  0   rgb(216, 214, 214),
               0  6px  0   rgb(208, 204, 204), 
               0  8px  0   #ffff, 
               0 10px  0   #ffff,
               0 12px  0   #ffff,
              3px 8px 15px rgba(0,0,0,0.1),
              3px 8px  5px rgba(0,0,0,0.3);
  
}
.price-usd{
  font-size: 19px;
    position: absolute;
    top: 10.5cm;
    margin-left: -495px;
}
.h-title{
  width: 19cm;
  height: 6cm;
  font-weight: bold;
   font-size: 30px;
   font-family: "Arial";
   text-shadow: 0 1px 0 rgb(10, 10, 10), 
                0 2px 0 #070707,
                0 3px 0 rgb(11, 10, 10),
                0 4px 0 #000000,
                0 5px 0 rgb(0, 0, 0),
                0 6px 1px rgba(0,0,0,.1),
                0 0 5px rgba(0,0,0,.1),
                0 1px 3px rgba(0,0,0,.3),
                0 3px 5px rgba(0,0,0,.2),
                0 5px 10px rgba(0,0,0,.25),
                0 10px 10px rgba(0,0,0,.2),
                0 20px 20px rgba(0,0,0,.15);
   color: #FFF;
}
.btn-DetP{
  width: 3cm;
  height: 2cm;
  position: absolute;
  top: 11cm;
  border-radius: 10%;
  background-color: #00b4d8;
  margin-left: 60px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.btn-DetP:hover {
  background-color: #f5ecec;
 }
 
 .btn-DetP:active {
  background-color: #FFF;
  transform: translateY(1px);
 }
 
/* *******Cart **********/

.Car-container{
  margin-left: 30px;
}
.titulo-cart{
  font: bold 40px/1 arial;
  text-transform: uppercase;
}
.title-productCar{
  width: 19cm;
  font: bold 20px/1 arial;
  text-transform: uppercase;
  color: #080808;
 
}
.index-Cart{  
  border: rgb(246, 245, 245) 8px outset;
width: 19cm;
border-radius: 5px;
margin: 5px;
background-color: #e5ebf1;
}
.price-cart{
  display: flex;
  margin-left: 416px;
  font-size: 29px;
  width: 166px;
  height: 3px;
  
}
.btn-ReomeItem{
color: rgb(19, 18, 18);
border-radius: 50%;
width: 1.9cm;
height: 1cm;
top: -136px;
margin-left: 413px;
position: relative;
}

.btn-ReomeItem:hover {
  background-color: #db0c0c;
 }
 
 .btn-ReomeItemactive {
  background-color: rgb(160, 37, 37);
  transform: translateY(1px);
 }
 .next{
  width: 3px;
  height: auto;
margin-left: 949px;
  
 }
 .btn-Next{
  background-color: #00b4d8;
  position: relative;
  top: -9px;
  border-radius: 5px;
width: 4cm;
height: 1cm;
font-size: 20px;
cursor: pointer;
 }
 .btn-Next:hover {
  background-color: #d8d8d8;
 }

/* Information de Pay */

.P-informaPa{
  font-size: 52px;
    display: flex;
    justify-content: center;
    
    width: 30cm;
}
.form {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form input {
  width: 90%;
  height: 30px;
  margin: 0.5rem;
}

.bton-form-button {
  padding: 0.5em 1em;
    border: none;
    background: rgb(100, 200, 255);
    cursor: pointer;
    width: 3cm;
    height: 1cm;
    text-align: center;
    margin-left: 547px;
}
.h2-lables{
  font-size: 15px;
  width: 9.5cm;
  font-family: 'Lato';
  color: rgb(150, 147, 147);
  font-weight: 1px;
}

label{
  display: flex;
  margin-left: -398px;

}
.Card{
  position: relative;
  margin-right: -415px;
  width: 556px;

}
.CardNum{
  position: relative;
 min-width: 1px;
}

/* ****Footer**** */
.Container-Footer{
  background-color: #00b4d8;
  height: auto;
  display: flex;
  
  margin-left: -0.4cm;
}
.div-Partnet{
  margin-left: 43px; 
}
.P-Partnet{
color: #FFF;
font-size: 23px;
}
.socios-h{
  display: inline;
  word-wrap: break-word;
}
.h1-Partnet{
  color: #FFF;
  top: 15px;
  position: relative;
  font-size: 16px;
}
.h2-Partnet{
  color: #fff;
  font-size: 16px;
}
.h3-Partnet{
  color: #FFF;
  top: -17px;
  position: relative;
  font-size: 16px;
}
.h4-Partnet{
  color: #fff;
  top: -35px;
    position: relative;
    font-size: 16px;
}
.Continer-Pro-footer{
  margin-left: 81px;
}
.P-P-Footer{
  color: #FFF;
  font-size: 26px;
  margin-left: -9.5px;
}
.Prod-footer-h1{
  color: #FFF;
  font-size: 16px;
  top: 14px;
    position: relative;
}
.Prod-footer-h2{
  color: #FFF;
  font-size: 16px;
  position: relative;
  top: -4px;
}
.Prod-footer-h3{
  color: #FFF;
  font-size: 16px;
  top: -19px;
  position: relative;
}
.Prod-footer-h4{
  color: #FFF;
  font-size: 16px;
  top: -38px;
  position: relative;
}
.Continer-footer-social{
  margin-left: 58px;
  display: grid;
}
.Link-footer-fa{
  font-size: 30px;
  color: #FFF;
  margin-left: 65px;
}
.Link-footer-ins{
  font-size: 30px;
  color: #FFF;
  margin-left: 65px;
}
.Link-footer-twi{
  font-size: 30px;
  color: #FFF;
  margin-left: 65px;
}
.Link-footer-lik{
  font-size: 30px;
  color: #FFF;
  margin-left: 65px;
 
}
.P-Copy{
  color: #FFF;
  
}